@font-face {
  font-family: "RobotoBold";
  src: url(/public/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "RobotoRegular";
  src: url(/public/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "RobotoMedium";
  src: url(/public/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
