*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
area,
menu,
ul,
a {
  all: unset;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

html {
  &::-webkit-scrollbar {
    width: 17px !important;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-color) !important;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color) !important;
    border: 3px solid var(--scrollbar-color) !important;
  }
}

body {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
