.table {
  display: grid;
  grid-template-columns: 8;
  border: 0.1rem solid var(--gray-border-color);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: var(--small-font-size);
  overflow-y: scroll;

  &__container {
    display: contents;
  }

  &__text {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    font-size: var(--small-font-size);
    color: var(--main-font-color);
    border-bottom: 0.1rem solid var(--gray-border-color);

    &_header {
      @extend .table__text;
      position: relative;
      font-family: "RobotoBold";
      color: var(--dark-gray-font-color);

      &_border {
        height: 50%;
        background-color: var(--gray-border-color);
        position: absolute;
        left: -0.1rem;
        top: 25%;
        width: 0.1rem;
      }
    }
  }
}
